<mat-card>
    <mat-card-title>Create Post</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedOption">
          <mat-option value="song">Song</mat-option>
          <mat-option value="event">Event</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="selectedOption === 'song'">
        <mat-form-field>
          <input matInput placeholder="Artist" [(ngModel)]="artist">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Song Name" [(ngModel)]="songName">
        </mat-form-field>
        <div>
          <mat-form-field>
            <input matInput placeholder="Link to song"[(ngModel)]="songUrl">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="selectedOption === 'event'">
        <mat-form-field>
          <input matInput placeholder="Event Name" [(ngModel)]="eventName">
        </mat-form-field>
        <div>
          <mat-form-field>
            <input matInput placeholder="Link to event"[(ngModel)]="eventUrl">
          </mat-form-field>
          </div>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onPost()">Post</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
