.home-container {
    display: flex;
    flex-direction: column;

    app-header {
        position: fixed;
    }

    .content-container {
        display: flex;
        flex-direction: row;
        background-color: var(--color-tertiary);
        margin-top: 8vh;
        min-height: 91.9vh;

        .search-results {
            width: 65vw;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-secondary);

            .users-feed {
                gap: 1vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 25vh;
                width: 65vw;

                .result-feed {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap: 20px;
                    overflow: auto;
                }

                .user-card {
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    width: 20vw;
                    height: 10vh;
                }

                .user-avatar {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .user-name {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .user-location {
                    margin-bottom: 10px;
                }

                .user-birthday {
                    font-style: italic;
                }
            }

            .posts-feed {
                display: flex;
                flex-direction: column;
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}