/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


:root {
    --color-text: #000000;
    --main-color: #8000ff;
    --color-secondary: #FFFFFF;
    --color-tertiary: #E9EBEE;
    --color-sign-up-button: #55eb34;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    ::-webkit-scrollbar {
        display: none;
    }
}