.post-container {
  display: flex;
  height: 50vh;
  width: 75vw;
  margin-bottom: 15px;
  // border: 3px solid pink;
  align-items: center;
  justify-content: center;

  .post {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 50vw;
    border: 1px solid black;
    border-radius: 5px;

    .post-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      height: 5vh;
      padding-left: 5px;
      background-color: var(--main-color);
      color: var(--color-secondary);

      .shared {
        color: lightgray;
      }

      border-bottom: 1px solid black;
    }

    .post-body {
      display: flex;
      flex-direction: row;
      height: 37vh;
      padding: 1vh 1vw;
      justify-content: center;
      align-items: center;

      .post-info {
        display: flex;
        flex-direction: column;
        width: 13.5vw;
        gap: 5vh;
      }

      .song-art {
        width: 13.5vw;
      }
    }

    .description {
      height: 4vh;
      display: flex;
      align-items: center;
      padding: 1vh 1vw;
      justify-content: center;
    }

    .post-actions {
      display: flex;
      flex-direction: row;
      height: 5vh;
      justify-content: space-evenly;
      padding: 5px 5px;

      button {
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 14px;
        color: #666;
        transition: all 0.3s ease;

        &:hover {
          background-color: #f2f2f2;
        }
      }

      .like-btn {
        background-color: #40ecfc;
        color: black;
      }

      .comment-btn {
        background-color: #856efa;
        color: #fff;
      }

      .play-btn {
        background: hsla(175, 79%, 63%, 1);

        background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

        background: -moz-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

        background: -webkit-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
        
        color: black;

      }
    }
  }
}