<ng-container *ngIf="postData.type === 'song' && postData.source === 'Spotify'">

  <div class="post-container">
    <div class="post">
      <div class="post-header">
        <span *ngIf="creator">
          {{ creator?.displayName }}
        </span>
        <p class="shared">shared a song</p>
        <button *ngIf="creator && creator.displayName !== firebase.userData.displayName" routerLink="/user/{{ postData.uid }}">View Profile</button>
      </div>
      <div class="description">
        <p>"{{ postData.desc }}"</p>
      </div>
      <div class="post-body">
        <div class="post-info">
          <p>{{ postData.songName }}</p>
          <p>{{ postData.artist }}</p>
        </div>
        <div class="song-art">
          <a [href]="postData.songUrl" target="_blank" class="post-song-url">
            <img width="150px" height="150px" [src]="artwork" alt="Spotify Artwork">
          </a>
        </div>
      </div>

      <div class="post-actions">
        <button class="like-btn" (click)="likePost(postData.did)">Like {{ count }} </button>
        <button class="post-action-btn comment-btn" (click)="onCommentClick()">Comment</button>
        <button class="play-btn" (click)="onPlayClick()">
          Play <br>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="postData.type === 'song' && postData.source === 'Soundcloud'">

  <div class="post-container">
    <div class="post">
      <div class="post-header">
        <span *ngIf="creator">
          {{ creator?.displayName }}
        </span>
        <p class="shared">shared a song</p>
        <button *ngIf="creator && creator.displayName !== firebase.userData.displayName" routerLink="/user/{{ postData.uid }}">View Profile</button>
      </div>
      <div class="description">
        <p>{{ postData.desc }}</p>
      </div>
      <div class="post-body">
        <div class="post-info">
          <p>Song:{{ postData.songName }}</p>
          <p>Artist: {{ postData.artist }}</p>
        </div>
      </div>
      <div class="post-actions">
        <button class="post-action-btn like-btn" (click)="likePost(postData.did)">Like {{ count }} </button>
        <button class="post-action-btn comment-btn">Comment</button>
        <button class="post-media-btn play-btn" (click)="onPlayClick()">Play <br></button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="postData.type === 'event'">

</ng-container>