.post-container {
  display: flex;
  height: 50vh;
  width: 75vw;
  margin-bottom: 0.9375em;
  align-items: center;
  justify-content: center;

  .post {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 35vw;
    border: 0.0625em solid black;
    border-radius: 0.4375em;
    box-shadow: 10px 10px 29px 10px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 10px 10px 29px 10px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 10px 10px 29px 10px rgba(0, 0, 0, 0.32);

    .post-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-top-right-radius: 0.3125em;
      border-top-left-radius: 0.3125em;      
      gap: 0.3125em;
      height: 6vh;
      padding-left: 0.3125em;
      background-color: var(--main-color);
      color: var(--color-secondary);

      .shared {
        color: var(--color-tertiary);
      }

      .view-profile {
        height: 1.5em;
        width: 7em;
        border: none;
        border-radius: 0.3125em;
        padding: 0.125em 0.125em;
        background-color: var(--color-tertiary);
        color: var(--color-text);
      }

      border-bottom: 0.0625em solid black;
    }

    .post-body {
      display: flex;
      flex-direction: row;
      height: 37vh;
      padding: 1vh 1vw;
      justify-content: center;
      align-items: center;

      .post-info {
        display: flex;
        flex-direction: column;
        width: 13.5vw;
        gap: 1rem;
        justify-content: space-between;
      }

      .song-art {
        width: 10vw;
        height: 17.5vh;
        border-radius: 0.3125em;
        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .description {
      height: 4vh;
      display: flex;
      align-items: center;
      padding: 1vh 1vw;
      justify-content: center;
      color: var(--text-color);
    }

    .post-actions {
      display: flex;
      flex-direction: row;
      height: 5vh;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;

      button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 0.3125em;
        padding: 0.3125em 0.625em;
        cursor: pointer;
        background-color: var(--color-tertiary);
        color: var(--text-color);
        transition: all 0.3s ease;

        &:hover {
          background-color: #00f0ff;
          color: var(--color-text);
        }
      }
    }
  }
}