<div *ngIf="user$ | async as user">
    <!-- <h2>{{ user.displayName }}</h2>
    <p>{{ user.uid }}</p>
    <p>{{ user.dob }}</p>
    <p>{{ user.county }}</p>
    <p>{{ user.country }}</p> -->
    <app-header></app-header>
    <app-nav-bar></app-nav-bar>
    <div class="profile-container">
        <div class="content-container">
            <div class="user-profile">
                <div class="profile-photo">
                    <img src="../../../assets/ArtistConnect Images/placeholder-user-image.png"
                        alt="">
                </div>
                <h1>{{ user.displayName }}</h1>
                <p>{{ user.county }}, {{ user.country }}</p>
                <div class="action-buttons">
                    <button mat-raised-button color="primary">Follow</button>
                    <button mat-stroked-button color="primary">Message</button>
                </div>
            </div>
            <div class="user-data">
                <mat-tab-group>

                    <mat-tab label="Posts">
                        <app-post *ngFor="let post of feedPosts" [postData]="post"></app-post>
                    </mat-tab>
                    <mat-tab label="{{ testFollowers.length }} Followers">
                        <h3 class="followers-content" *ngFor="let testFollower of testFollowers">{{ testFollower.name
                            }}<button>Unfollow</button></h3>
                    </mat-tab>
                    <mat-tab label="Following {{ testFollowing.length }}">
                        <h3 class="following-content" *ngFor="let testFollowings of testFollowing">{{
                            testFollowings.name }} <button>Friends</button></h3>
                    </mat-tab>
                    <mat-tab label="Likes">
                        Content 4
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
    </div>
</div>