<div *ngIf="user$ | async as user">
    <app-header></app-header>
    <app-nav-bar></app-nav-bar>
    <div class="profile-container">
        <div class="content-container">
            <div class="user-profile">
                <div class="profile-photo">
                    <img src="../../../assets/ArtistConnect Images/placeholder-user-image.png"
                        alt="">
                </div>
                <h1>{{ user.displayName }}</h1>
                <p>{{ user.county }}, {{ user.country }}</p>
                <div class="action-buttons">
                    <button mat-raised-button color="primary" *ngIf="!isFollowing" (click)="follow()">Follow</button>
                    <button mat-raised-button color="primary" *ngIf="isFollowing" (click)="unFollow()">Unfollow</button>
                    <button mat-stroked-button color="primary" (click)="messageUser()">Message</button>
                </div>
                <div class="followers-following">
                    <div class="posts">
                        <h4>{{ posts }}</h4>
                        <h4>Posts</h4>
                    </div>
                    <div class="following">
                        <h4>{{following}}</h4>
                        <h4>Following</h4>
                    </div>
                    <div class="followers">
                        <h4>{{ followers }}</h4>
                        <h4>Followers</h4>
                    </div>
                </div>
            </div>
            <app-post *ngFor="let post of feedPosts" [postData]="post" ></app-post>
        </div>
    </div>
</div>