<div *ngIf="user$ | async as user">
    <app-header></app-header>
    <app-nav-bar></app-nav-bar>
    <div class="profile-container">
        <div class="content-container">
            <div class="user-profile">
                <div class="profile-photo">
                    <img src="../../../assets/ArtistConnect Images/placeholder-user-image.png"
                        alt="">
                </div>
                <h1>{{ user.displayName }}</h1>
                <p>{{ user.county }}, {{ user.country }}</p>
                <div class="action-buttons">
                    <button mat-raised-button color="primary" *ngIf="!isUserFollowed" (click)="follow()">Follow</button>
                    <button mat-raised-button color="primary" *ngIf="isUserFollowed" (click)="unFollow()">Unfollow</button>
                    <button mat-stroked-button color="primary">Message</button>
                </div>
            </div>
            <app-post *ngFor="let post of feedPosts" [postData]="post" ></app-post>
        </div>
    </div>
</div>