.nav-bar {
    display: flex;
    flex-direction: column;
    width: 10vw;
    // justify-content: space-evenly;
    padding-top: 4vh;
    gap: 5vh;
    align-items: center;
    position: fixed;
    height: 100%;
    background-color: var(--color-secondary);
    .nav-bar-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--color-text);
        cursor: pointer;
        gap: 5px;
        p {
            font-size: 12px;
        }
    }

    .nav-bar-item-bottom {
        display: flex;
        position: absolute;
        bottom: 15vh;
        border-top: 1px solid black;
        padding-top: 10px;
        flex-direction: row;
        align-items: center;
        color: var(--color-text);
        cursor: pointer;
        p {
            font-size: 12px;
        }
    }
}