<div class="nav-bar">
    <div class="nav-bar-item" routerLink="/home">
        <h4><fa-icon [icon]="faHome"></fa-icon></h4>
        <h4>Home</h4>
    </div>
    <div class="nav-bar-item" routerLink="/message-centre">
        <h4><fa-icon [icon]="faEnvelope"></fa-icon></h4>
        <h4>Messages</h4>
    </div>
    <div class="nav-bar-item">
        <h4><fa-icon [icon]="faMusic"></fa-icon></h4>
        <h4>Reccomender</h4>
    </div>
    <div class="nav-bar-item" routerLink="/profile">
        <h4><fa-icon [icon]="faUser"></fa-icon></h4>
        <h4>Profile</h4>
    </div>
</div>
