.nav-bar {
    display: flex;
    flex-direction: column;
    width: 10vw;
    padding-top: 4vh;
    gap: 5vh;
    align-items: center;
    position: fixed;
    height: 100%;
    background-color: var(--color-secondary);
    z-index: 100;

    .nav-bar-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--color-text);
        cursor: pointer;
        gap: 0.3125em;

        @media only screen and (max-width: 1300px) {
            .nav-bar-text {
                display: none;
            }
        }
    }

    .nav-bar-item-bottom {
        display: flex;
        position: absolute;
        bottom: 15vh;
        border-top: 0.0625em solid black;
        padding-top: 0.625em;
        flex-direction: row;
        align-items: center;
        color: var(--color-text);
        cursor: pointer;
        @media only screen and (max-width: 1300px) {
            .nav-bar-text {
              display: none;
            }
          }
    }
}