<div class="home-container">
    <app-header></app-header>
    <div class="content-container">
      <app-nav-bar></app-nav-bar>
      <div class="form-container">
        <div class="form-group">
          <label for="trackId">Track Url:</label>
          <input type="text" [(ngModel)]="trackUrl" id="trackUrl" name="trackUrl" />
        </div>
        <div class="form-group">
          <label for="energy">Energy:</label>
          <input type="range" [(ngModel)]="energy" id="energy" name="energy" min="0" max="1" step="0.01" />
        </div>
        <div class="form-group">
          <label for="speechiness">Vocals:</label>
          <input type="range" [(ngModel)]="speechiness" id="speechiness" name="speechiness" min="0" max="1" step="0.01" />
        </div>
        <div class="form-group">
          <label for="instrumentalness">Instrumental:</label>
          <input type="range" [(ngModel)]="instrumentalness" id="instrumentalness" name="instrumentalness" min="0" max="1" step="0.01" />
        </div>
        <br>
        <button (click)="onGenerateRecommendations()" class="generate-btn">Generate Recommendations</button>
      </div>
  
      <div class="song-container">
        <div *ngFor="let song of recommendedSongs" class="song-item">
          <div class="album-art">
            <img [src]="song.album.images[0].url" alt="Album Art" />
          </div>
          <div class="song-details">
            <p class="song-name">Song Name: {{ song.name }}</p>
            <p class="song-artist">Artist: {{ song.artists[0].name }}</p>
            <button (click)="onPlaySong(song.id)" class="play-btn">Play</button>
          </div>
        </div>
      </div>
    </div>
  </div>
