<div class="profile-container">
    <app-header></app-header>
    <div class="content-container">
        <app-nav-bar></app-nav-bar>
        <div class="user-profile">
            <div class="profile-photo">
                <img src="../../../assets/ArtistConnect Images/placeholder-user-image.png" alt="">
                <button mat-mini-fab (click)="inputfield.click()"><mat-icon>edit</mat-icon></button>
                <input #inputfield type="file" hidden>
            </div>
            <h1 *ngIf="firebase.userData">{{ firebase.userData.displayName }}</h1>
            <p *ngIf="firebase.userData">{{ firebase.userData.county }}, {{ firebase.userData.country }}</p>
            <button mat-stroked-button color="primary" (click)="openDialog()">Edit Your Profile</button>
            <div class="followers-following">
                <div class="posts">
                    <h4>{{ posts }}</h4>
                    <h4>Posts</h4>
                </div>
                <div class="following">
                    <h4>{{following}}</h4>
                    <h4>Following</h4>
                </div>
                <div class="followers">
                    <h4>{{ followers }}</h4>
                    <h4>Followers</h4>
                </div>
            </div>
            <app-post *ngFor="let post of feedPosts" [postData]="post" ></app-post>
        </div>
    </div>
</div>