<div class="login-container">
    <div class="top">
        <div class="left">
            <div class="logo-container">
                <div class="logo">
                    <h1>ArtistConnect</h1>
                </div>
                <div class="bottom-text">
                    <h3>A one-stop-shop for artists, event orgainzers and music fans</h3>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="login-signup-container">
                <div class="login-form">
                    <form action="#">
                        <input type="text" id="email" name="email" placeholder="Email / Username"><br>
                        <input type="text" id="password" name="password" placeholder="Password"><br>
                    </form>
                    <button>Log In</button><br>
                </div>
                <div class="signup">
                    <div class="signup-button">
                        <button>Sign Up Here</button>
                    </div>
                </div>
                <div class="creator-signup">
                    <p>Create an Artist / Events Orgainzer account</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-text">
            <p>Created as part of a final year project<br>Karl Doherty, Yury Chupahin<br> 2022/2023 CA400</p>
        </div>
    </div>
</div>