.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 15vh;
        width: 10vw;
        border-radius: 50%;
        border: 1px solid black;
    }
    button {
        width: 12vw;
    }
}