<div class="content">
    <h1>Edit Your Profile</h1><br>
    <img src="../../../assets/ArtistConnect Images/1.png" alt="">
    <!-- <form class="edit-form">
        <mat-form-field class="form">
          <mat-label>Display Name</mat-label>
          <input matInput placeholder="New Username">
        </mat-form-field>
        <mat-form-field class="form">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email Address">
        </mat-form-field>
        <mat-form-field class="form">
            <mat-label>County</mat-label>
            <input matInput placeholder="County">
        </mat-form-field>
        <mat-form-field class="form">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country">
        </mat-form-field>
        <mat-form-field class="form">
            <mat-label>Date Of Birth</mat-label>
            <input matInput placeholder="DD-MM-YYYY">
        </mat-form-field>
    </form> -->
    <form action="edit-form">
        <table class="edit-profile-table" cellspacing="2">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Display Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
    
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email Address</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>County</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
    
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>County</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
    <button mat-raised-button color="warn">Save</button>

</div>