<div class="content">
    <h1>Edit Your Profile</h1><br>
    <img [src]="firebase.imageURL ?? 'assets/ArtistConnect Images/placeholder-user-image.png'">
    <form action="edit-form">
        <table class="edit-profile-table">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Display Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
    
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email Address</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>County</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
    
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>County</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
    <button mat-raised-button color="warn">Save</button>

</div>