.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 15vh;
        width: 9vw;
        border-radius: 50%;
        border: 0.0625em solid var(--main-color);
    }
    button {
        width: 12vw;
    }
}