<div class="signup-container">
    <div class="top">
        <div class="left">
            <div class="logo-container">
                <div class="logo">
                    <img src="../../../assets/ArtistConnect Images/2-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="signup-container">
                <div class="signup-form">
                    <div class="left-sdie">
                        <form>
                            <input (keydown.space)="$event.preventDefault()" type="displayName" id="displayName" name="displayName" placeholder="Display Name" [(ngModel)]="newUserData.displayName"><br>
                            <input type="country" id="country" name="country" placeholder="Country" [(ngModel)]="newUserData.country"><br>
                            <input type="birthday" id="birthday" name="birthday" placeholder="Birthday (dd-mm-yyyy)" [(ngModel)]="newUserData.dob"><br>
                        </form>
                    </div>
                    <div class="right-side">
                        <form>
                            <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="newUserData.email"><br>
                            <input type="county" id="county" name="county" placeholder="County / State" [(ngModel)]="newUserData.county"><br>
                            <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password"><br>
                        </form>
                    </div>
                </div>
                <div class="signup">
                    <div class="signup-button">
                        <button (click)="register()">Sign Up</button>
                    </div>
                </div>
                <div class="creator-signup">
                    <p>Create an Artist / Events Orgainzer account</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-text">
            <p>Created as part of a final year project<br>Karl Doherty, Yury Chupahin<br> 2022/2023 CA400</p>
        </div>
    </div>
</div>
