.home-container {
    display: flex;
    flex-direction: column;

    app-header {
        position: fixed;
    }

    .content-container {
        display: flex;
        flex-direction: row;
        background-color: var(--color-tertiary);
        margin-top: 8vh;
        min-height: 91.9vh;

        .post-feed {
            width: 65vw;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            background-color: var(--color-secondary);

            .filter-headers {
                display: flex;
                justify-content: space-evenly;
                width: 63vw;
                align-items: center;
                gap: 1rem;
                font-size: 1.2rem;
                font-weight: 600;
                margin: 1vh 1vw;

                .header {
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem 1rem;
                    transition: background-color 0.3s ease;
                    width: 100%;
                    border-radius: 0.5em;
                    &:hover {
                        background-color: var(--color-tertiary);
                    }

                    &.active {
                        background: #8000ff;
                        background: linear-gradient(120deg, #8000ff 0%, #00f0ff 80%);
                        background: -webkit-linear-gradient(37deg, #8000ff 0%, #00f0ff 80%);
                        background: -moz-linear-gradient(37deg, #8000ff 0%, #00f0ff 80%);
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .search-results {
            width: 65vw;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-secondary);

            .users-feed {
                gap: 1vh;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                min-height: 25vh;
                width: 65vw;

                .title {
                    position: absolute;
                    left: 17em;
                    top: 5em;
                }

                .result-feed {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                }

                .user-card {
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    width: 20vw;
                    height: 10vh;
                }

                .user-avatar {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .user-name {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .user-location {
                    margin-bottom: 10px;
                }

                .user-birthday {
                    font-style: italic;
                }

            }

            .posts-feed {
                .title {
                    position: absolute;
                    left: 17em;
                    top: 16em;
                }
            }
        }

        #post-button {
            position: fixed;
            bottom: 2em;
            right: 2em;
        }
    }
}