.home-container {
    display: flex;
    flex-direction: column;
    .content-container {
        display: flex;
        height: 91.9vh; // remove this just to see what it will look like
        background-color: var(--color-tertiary);
    }
}