.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    padding: 0vh 0.5vw;
    border-bottom: 1px solid var(--color-tertiary);
    background-color: var(--main-color);
    .logo {
        display: flex;
        width: 33vw;
        img {
            height: 8vh;
            width: 6vw;
        }
    }
    .search-bar {
        display: flex;
        width: 33vw;
        justify-content: center;
        align-items: center;
        input {
            width: 30vw;
            height: 3.5vh;
            background-color: var(--color-tertiary);
            border: none;
            border-radius: 0.5vh;
            padding: 0.1vh 0.5vw;
        }
    }
    .profile {
        display: flex;
        width: 33vw;
        align-items: center;
        justify-content: flex-end;
        .profile-bubble {
            ::ng-deep {
                .profile-button {
                    background-color: var(--color-secondary);
                    border: none;
                }
            }
        }
    }
}