.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    padding: 0vh 0.5vw;
    background: #8000ff;
    background: linear-gradient(37deg, #8000ff 0%, #00f0ff 80%);
    background: -webkit-linear-gradient(37deg, #8000ff 0%, #00f0ff 80%);
    background: -moz-linear-gradient(37deg, #8000ff 0%, #00f0ff 80%);
    position: fixed;

    .logo {
        display: flex;
        width: 33vw;

        img {
            height: 8vh;
            width: 6vw;
        }
    }

    .search-bar {
        display: flex;
        width: 33vw;
        justify-content: center;
        align-items: center;

        input {
            width: 90%;
            height: 3.5vh;
            background-color: var(--color-tertiary);
            border: none;
            border-radius: 0.5vh;
            padding: 0.1vh 0.5vw;
        }
    }
    .profile {
        display: flex;
        width: 33vw;
        align-items: center;
        justify-content: flex-end;

        .profile-bubble {
            .profile-button {
                background-color: var(--color-secondary);
                border: none;
                height: 3em;
                width: 10em;
            }
        }

        /* Media query to adjust button size when container is too small */
        @media screen and (max-width: 1199px) {
            .profile-bubble {
                .profile-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.5em;
                    width: 1em;

                    .text {
                        display: none;
                    }
                }
            }
        }

        @media screen and (min-width: 1200px) {
            .profile-bubble {
                .profile-button {
                    height: 3em;
                    width: 10em;
                    .icon {
                        display: none;
                    }
                }
            }
        }
    }
}